<%- include('./partials/head') %>

<main>
    <div id="colorpreview">

    </div>
    <div>
        <input type="color" id="colorpicker" name="color"
               value="#ffffff">
        <label for="colorpicker">Choose color:</label>
    </div>
</main>

<%- include('./partials/foot') %>
